@layer recipes.slots.base {
  .item {
    background: var(--colors-bg-sunken);
    padding-block: 0.45rem;
    border-radius: var(--radii-control);
    gap: 0.6rem;
    align-items: center;
    display: flex;
    font-weight: var(--font-weights-bold);
    padding-left: 0.45rem;
    padding-right: var(--spacing-3);
  }

  .list {
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    gap: 0.4rem;
    list-style: none;
    display: grid;
    overflow-y: auto;
    max-height: 12rem;
  }

  .note {
    color: var(--colors-fg-muted);
    font-size: 0.8rem;
    margin-left: auto;
  }
}
