@layer recipes.base {
  .root {
    gap: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .root > * {
    min-width: 13rem;
  }

  @media (width < 35.0625rem) {
    .root > * {
      width: var(--sizes-full);
    }
  }
}
