@layer recipes.base {
  .root {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    height: auto;
  }
}

@layer recipes.variants {
  .size_sm {
    width: 0.875rem;
  }

  .size_2xl {
    width: 1.4rem;
  }

  .size_2xs {
    width: 0.625rem;
  }

  .size_3xl {
    width: 1.625rem;
  }

  .size_4xl {
    width: 1.75rem;
  }

  .size_5xl {
    width: 2.125rem;
  }

  .size_lg {
    width: 1.125rem;
  }

  .size_md {
    width: 1rem;
  }

  .size_xl {
    width: 1.25rem;
  }

  .size_xs {
    width: 0.75rem;
  }
}
