@layer recipes.base {
  .root {
    border-color: var(--colors-current);
    border-radius: var(--radii-full);
    border-style: solid;
    animation-duration: var(--durations-slow);
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: var(--easings-linear);
    display: inline-block;
    flex-shrink: 0;
    border-right-color: var(--colors-transparent);
  }
}

@layer recipes.variants {
  .size_md {
    border-width: var(--border-widths-thick);
    height: var(--sizes-6);
    width: var(--sizes-6);
  }

  .size_sm {
    border-width: var(--border-widths-thick);
    height: var(--sizes-4);
    width: var(--sizes-4);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
